<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zss.user.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.zss.user.domain.UserInfo">
    <id column="id" jdbcType="BIGINT" property="couponId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="pwd" jdbcType="VARCHAR" property="pwd" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, pwd
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <insert id="insertSelective" parameterType="com.zss.user.domain.UserInfo">
    insert into tb_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="pwd != null">
        pwd,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        #{pwd,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="queryByCondition" parameterType="com.zss.user.domain.UserInfo" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_user
    where 1=1
    <if test="name != null and name != ''">
    	and name like concat('%',#{name},'%')
    </if>
  </select>
</mapper>